@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nprogress/nprogress.css';

// @import '@ayu-mu/common/style.css';

/* 移除所有可点击元素的焦点边框 */
.cursor-pointer:focus {
  outline: none !important;
}

/* 移除所有图标的焦点边框 */
svg:focus {
  outline: none !important;
}

/* 移除所有按钮和可交互元素的焦点边框 */
button:focus,
[role='button']:focus,
[tabindex]:focus {
  outline: none !important;
}
