$primary:#409eff;
$success:#67c23a;
$warning:#e6a23c;
$danger:#f56c6c;
$info:#909399;
$error:#f56c6c;


$color-map: (
  primary: $primary,
  success: $success,
  warning: $warning,
  danger: $danger,
  info: $info,
  error: $error
);

$font-size:14px;
$border-radius:4px;
